{% extends '::base.html.twig' %}

{% block body %}
<div>
	<h2>{{post.title}}</h2>
	<p>
		{{post.text}}
	</p>
	<div><a href="{{url('workshop_blog_posts_category',{'categorySlug': post.category.slug})}}">{{post.category}}</a> {{post.date|date('Y-m-d')}}</div>
</div>
{% endblock %}