{% extends '::base.html.twig' %}

{% block body %}
<div>
{% for post in posts %}
	<div>
		<h2><a href="#{{url('workshop_blog_post_view',{'slug': post.slug})}}">{{post.title}}</a> <a href="{{url('workshop_blog_posts_category',{'categorySlug': post.category.slug})}}">{{post.category}}</a> {{post.date|date('Y-m-d')}}</h2>
	</div>
{% endfor %}
</div>
{% endblock %}
